$primary-white: #FFFFFF;
$primary-blue: #EEF5FF;
$secondary-blue: #B4D4FF;
$secondary-dark-blue: #021e27;
$svg-white: invert(98%) sepia(88%) saturate(7497%) hue-rotate(178deg) brightness(109%) contrast(104%);

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px