@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/fonts' as *;

* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    color: $secondary-dark-blue;
}

html {
    font-size: 100%;
}

.login {
    width: 100%;
    height: 100vh;
    background-color: $primary-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    &__box {
        background-color: $primary-white;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 2px black;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include desktop {
            padding: 5rem;
        }
    }
    &__heading {
        font-size: 1.5rem;
        font-weight: 600;
    }
    &__textbox {
        width: 6rem;
        margin: 1rem 0;
        background-color: $primary-blue;
        border-radius: 2px;
        border: $secondary-dark-blue solid 1px;
        padding: 0.3rem 0.2rem;
    }
    &__submit-button {
        width: 6rem;
        height: 100%; 
        background-color: $secondary-dark-blue;
        color: $primary-blue;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 20px;
        font-weight: 600;
    }
    &__subheading {
        font-size: 0.7rem;
        margin-top: 0.5rem;
        color: rgb(141, 141, 141);
    }
}

.nav {
    width: 100%;
    background-color: $secondary-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 2px rgb(5, 29, 65);
    position: sticky;
    top: 0;
    &__left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    &__return-logo {
        height: 1.4rem;
    }
    &__heading {
        font-size: 1.4rem;
        font-weight: 300;
        color: black;
        padding: 0.5rem 0 0.5rem 0.5rem;
    }
    &__right {
        display: flex;
        align-items: center;
    }
    &__style-logo {
        height: 1.4rem;
    }
}

.main {
    &__box {
        display: flex;
        flex-wrap: wrap;
        width: 100%
    }
    &__card-box {
        width: 100%;
        padding: 1rem;
        @include tablet {
            width: 33%;
        }
        @include desktop {
            width: 33%;
        }
    }
    &__card {
        padding: 1rem;
        border: black solid 1px;
        box-shadow: 0 0 5px black;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        display: flex; 
        align-self: flex-start;
    }
    &__text-container {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__picture {
        background-color:  red;
        width: 100%;
        height: 15vh;
    }
    &__description {

    }
    &__date {

    }
    &__maps-button {

    }
}
