* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  color: #021e27;
}

html {
  font-size: 100%;
}

.login {
  width: 100%;
  height: 100vh;
  background-color: #EEF5FF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.login__box {
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 1px #021e27;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .login__box {
    padding: 5rem;
  }
}
.login__heading {
  font-size: 1.5rem;
  font-weight: 600;
}
.login__textbox {
  width: 6rem;
  margin: 1rem 0;
  background-color: #EEF5FF;
  border: #021e27 solid 1px;
  padding: 0.3rem 0.2rem;
}
.login__submit-button {
  width: 6rem;
  height: 100%;
  background-color: #021e27;
  color: #EEF5FF;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  font-weight: 600;
}
.login__subheading {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  color: rgb(141, 141, 141);
}

.nav {
  width: 100%;
  height: 3rem;
  background-color: #021e27;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px 1px #021e27;
  position: sticky;
  border-radius: 0 0 5px 5px;
  top: 0;
}
.nav__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.nav__return-anchor {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.nav__return-logo {
  height: 1.4rem;
  filter: invert(98%) sepia(88%) saturate(7497%) hue-rotate(178deg) brightness(109%) contrast(104%);
}
.nav__return-logo:hover {
  height: 1.7rem;
}
.nav__heading {
  font-size: 1.4rem;
  font-weight: 300;
  color: #EEF5FF;
  padding: 0.5rem 0 0.5rem 0.5rem;
}
.nav__right {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.nav__style-logo {
  height: 1.5rem;
  filter: invert(98%) sepia(88%) saturate(7497%) hue-rotate(178deg) brightness(109%) contrast(104%);
}
.nav__style-logo:hover {
  height: 1.8rem;
}

.main__box {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.main__card-box {
  width: 100%;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .main__card-box {
    width: 33%;
  }
}
@media screen and (min-width: 1024px) {
  .main__card-box {
    width: 33%;
  }
}
.main__card {
  padding: 0 1rem 1rem 1rem;
  border: #021e27 solid 1px;
  box-shadow: 0px 0px 5px 1px #021e27;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__card--empty {
  justify-content: center;
  height: 34rem;
  padding: 1rem;
  background-color: #021e27;
}
.main__empty-logo {
  height: 13rem;
  filter: invert(98%) sepia(88%) saturate(7497%) hue-rotate(178deg) brightness(109%) contrast(104%);
}
.main__title {
  width: 70%;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background-color: #021e27;
  border-radius: 0 0 20px 20px;
  color: #EEF5FF;
  margin-bottom: 1rem;
  text-align: center;
  display: inline;
  font-size: 1.5rem;
}
.main__text-container {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main__picture {
  display: flex;
  align-self: center;
  background-color: #021e27;
  width: 100%;
  height: 25vh;
  border-radius: 20px;
  transition: 0.5s;
  background-position: center;
  background-size: cover;
}
.main__picture:hover {
  transform: scale(1.02);
}
.main__picture--pottery {
  background-image: url(../assets/photos/pottery.png);
}
.main__picture--botanical {
  background-image: url(../assets/photos/botanicalGarden.png);
}
.main__picture--golf {
  background-image: url(../assets/photos/golfing.png);
}
.main__picture--rocks {
  background-image: url(../assets/photos/rocks.png);
}
.main__picture--painting {
  background-image: url(../assets/photos/painting.jpg);
}
.main__description {
  margin-top: 1rem;
}
.main__date {
  border-bottom: solid #021e27 1px;
  border-top: solid #021e27 1px;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}
.main__maps-button {
  width: 10rem;
  height: 4rem;
  margin: 1rem 0;
  background-color: #021e27;
  color: #EEF5FF;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__maps-button:hover {
  color: #021e27;
  background-color: #B4D4FF;
}/*# sourceMappingURL=main.css.map */